<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="<%= pages_about_us_path %>">Sobre nosotros</a>
    <a href="<%= pages_contact_path %>">Contacto</a>
    <a href="<%= post_path %>">Posts</a>
    <ul>
      <li><%= link_to "hello", hello_path("Christian") %></li>
    </ul>
    <%= yield %>
  </body>
</html>
